@charset "UTF-8";

html, body {
  margin: 0;
  padding: 0;
}

a { text-decoration: none; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button { cursor: pointer; }

input {
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
}

.container {
  margin: 0 auto;
  max-width:480px;
}

body {
  font-family: 'Roboto', arial;
  font-size: 14px;
  background-color:#fafafa;
}

.percent { width: 85.71429%; }

.panel-primary { border-color: #009dda; }

input { padding: 6px 12px; }

.top-nav {
  min-width: 1200px;
  background-color: #333333;
  height: 40px;
  line-height: 40px;
  color: #aaa;
  font-size: 12px;
}

.top-nav .nav-box {
  float: left;
  height: 40px;
  line-height: 40px;
}

.top-nav a { margin-left: 10px; }

.top-nav a:hover { color: #fff; }

.med-nav {
  min-width: 1200px;
  background-color: #009dda;
}

.med-nav ul { overflow: hidden; }

.med-nav ul li {
  float: left;
  margin-right: 10px;
}

.med-nav ul li a {
  display: block;
  padding: 0 20px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  line-height: 45px;
}

.med-nav ul li a:hover { background-color: #0486b9; }

.med-nav ul li.active > a { background-color: #0486b9; }

/*keep footer always on bottom*/

html, body { height: 100%; }

#container {
  min-height: 100%;
  position: relative;
  max-width:480px;
  margin:0 auto;
}

#body { padding-bottom: 60px;/* Height of the footer */ }

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  /* Height of the footer */
  background-color: #333333;
}

/*keep footer always on bottom end*/

.handle-counter {
  overflow: hidden;
  margin-left: 46px;
}

.handle-counter .counter-minus,  .handle-counter .counter-plus,  .handle-counter input {
  float: left;
  text-align: center;
}

.handle-counter .counter-minus,  .handle-counter .counter-plus { text-align: center; }

.handle-counter input {
  width: 53%;
  border-width: 1px;
  border-left: none;
  border-right: none;
}

.btn {
  padding: 4.5px 12px;
  border: 1px solid transparent;
  color: #fff;
}
.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #ff5722;
  border-color: #ff5722;
  outline: none;
}
.btn-primary:hover {
  background-color: #000!important;
  border: 1px solid #ff5722!important;
}
/* .btn:disabled, .btn:disabled:hover {
  background-color: darkgrey;
  cursor: not-allowed;
} */

.btn-primary { background-color: #ff5722;border-radius: 0px;}

.btn-primary:hover, .btn-primary:focus { background-color: #000; }

.margin-top { margin-top: 150px; }

.margin-bottom { margin-bottom: 20px; }

.pull-right { float: right !important; }

.pull-left { float: left !important; }

.hide { display: none; }

.show { display: block; }

.invisible { visibility: hidden; }

a { color: #999; }

a:hover { color: #FF5113; }

.border { border: 1px solid red; }
