/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
.demo {
  width: 100%;
  height: 420px;
}
a {
  text-decoration: none!important;
}
*body {
 font-family: 'Roboto', sans-serif!important;
}
.allpadding {
  padding: 0 3rem;
}
/* ==========================================================================
   HEADER
   ========================================================================== */
.brekcome {
  padding: 0!important;
  border-radius: 0!important;
  border-bottom: 1px solid #EBEBEB;
  background: transparent!important;
}
.breadcrumb-item a {
  color: #000;
}
/* ==========================================================================
   Top NAV
   ========================================================================== */
.top-header {
  background-color: #F5F5F5;
}
.top-header p {
  font-size: 12px;
  margin-top: 10px;
}
.top-header p span {
  color: #F91942;
}
.right-nav {
  float: right;
  margin: 5px 0;
}
.right-nav li {
  list-style: none;
  display: inline-block;
}
.right-nav li a {
  text-decoration: none;
  padding: 0 10px;
}
.right-nav li a i {
  margin-top: 10px;
  color: #4d4d4d;
  font-size: 12px;
}
.right-nav li a i:hover {
  color: #F91942;
}
/* ==========================================================================
  home page NAVBAR
   ========================================================================== */
.main-nav {
  position: sticky;
  top: 0;
  z-index: 1000;
}
.navbar {
  background-color: #FFFFFF;
  padding: 1.5rem 1rem!important;
}
.navbar-brand {
  margin: 0!important;
}
.navbar-brand img {
  width: 100%;
}
.navbar-nav {
  margin-left: 50px;
}
.navbar-light .navbar-nav .active> {
    color: #303030;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #E23E1D!important;
}
.navbar-light .navbar-nav .nav-link {
  text-transform: uppercase;
  font-size: 12px!important;
  font-weight: 750;
}
.navbar-light .navbar-nav .nav-link  {
  color: #000!important;
}
.main-nav-right {
  margin: 5px 50px;
  padding: 0;
}
.main-nav-right li {
  list-style: none;
  display: inline-block;
}
.main-nav-right li a {
  font-size: 14px;
  color: #000;
  text-decoration: none;
  transition: .5s;
  font-weight: 600;
}
.btn-group-vertical>.btn.active, .btn-group-vertical>.btn:active, .btn-group-vertical>.btn:focus, .btn-group>.btn.active, .btn-group>.btn:active, .btn-group>.btn:focus {
  margin: 0;
  padding: 0!important;
}
.btn-group-vertical>.btn, .btn-group>.btn {
  padding: 0;
}
.main-nav-right li a:hover {
  color: #F91942;
}
.nav-2 {
  background-color: #fff;
  padding-bottom: 5px;
}
.search {
  width: 100%;
  position: relative;
  display: flex;
  border: 1px solid #ebebeb;
}
.opction {
  margin-top: 4px;
}
.searchTerm {
  width: 100%;
  border: 1px solid #fff;
  border-right: none;
  padding: 15px;
  height: 40px;
  outline: none;
  color: #9DBFAF;
}
.searchTerm:focus{
  color: #00B4CC;
}
.searchButton {
  width: 140px;
  border: 0;
  background: #F91942;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}
.opction select {
  color: #5B5B5B;
  padding: 6.5px 20px;
  border: 1px solid #fff;
  font-weight: bold;
  outline: none!important;
  font-family: 'Roboto', sans-serif!important;
}
.opction select option {
  font-weight: bold;
  outline: none!important;
  font-family: 'Roboto', sans-serif!important;
}
/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* header Righr site menu*/
.manu {
  margin: 10px 0;
  float: right;
}
.manu ul {
  margin: 0;
  padding: 0;
}
.count {
  font-weight: bold;
}
.manu ul li {
  list-style: none;
  display: inline-block;
  padding: 0px 15px;
}

.manu ul li i {
  color: #F91942;
  font-size: 22px;
  margin-right: 5px;
}
.manu ul li a {
  text-decoration: none;
  color: #000;

}
.manu ul li a:hover i {
  color: #F91942;
}
.manu ul li a:hover {
  color: #F91942;
}
.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: none!important;
}
/* ==========================================================================
   SIDE MENU
   ========================================================================== */
   /******************Vertical Menu Ends Here******************************/
.slicknav_menu {
	display:none;
}
.card-header {
  background-color: #F91942!important;
  border: none!important;
  border-top-right-radius: none;
}
.card-header:first-child {
  border-radius: 0!important;
}
.card-menu {
  border: none!important;
  border-radius: 0px!important;
}
.card-header .fa-chevron-down {
  margin-left: 20%;
}
.side-menu-btn {
  padding: 8px 0px!important;
}
.btn-link {
  color: #ffffff!important;
  text-transform: uppercase;
}
.btn-link:hover {
  text-decoration: none!important;
}
.btn-link.focus, .btn-link:focus {
  text-decoration: none!important;
}
.card-body-menu {
  padding:0!important;
}
.card-body-menu-popup {
  padding:0!important;
  display: none;
}
.cssmenuvv {
  width: 100%;
}
.cssmenuvv > ul {
 list-style: none;
 margin: 0;
 padding: 0;
 vertical-align: baseline;
 line-height: 1;
}
/* The container */
.cssmenuvv > ul {
 display: block;
 position: relative;
 border: 1px solid #F91942;
 /* The list elements which contain the links */
}
.cssmenuvv > ul li {
 display: block;
 position: relative;
 margin: 0;
 padding: 0;
 width: 100%;
 z-index:1;
}
/* General link styling */
.cssmenuvv > ul li a {
 /* Layout */
 display: block;
 position: relative;
 margin: 0;

 padding: 11px 20px;
 /* Typography */
 font-family: Helvetica, Arial, sans-serif;
 color: #000;
 text-decoration: none;
 text-transform: uppercase;
 font-size: 13px;
 font-weight: 300;
 background-color:#fff;
}
/* Rounded corners for the first link of the menu/submenus */
.cssmenuvv > ul li:first-child > a {
 width: 100%;
 border-top: 0;
}
.cssmenuvv > ul li:last-child > a {
 border-bottom: 0;
}
/* The hover state of the menu/submenu links */
.cssmenuvv > ul li > a:hover,
.cssmenuvv > ul li:hover > a {
 color: #fff;
 background: #F91942;
 border-color: transparent;
}
/* The arrow indicating a submenu */
.cssmenuvv > ul .has-sub > a::after {
 content: '';
 position: absolute;
 top: 16px;
 right: 10px;
 width: 0px;
 height: 0px;
 border: 4px solid transparent;
 border-left: 4px solid #000;
}
.cssmenuvv > ul ul {
 position: absolute;
 left: 100%;
 top: -9999px;
 padding-left: 5px;
 opacity: 0;
 width: 100%;
 /* The fade effect, created using an opacity transition */
 -webkit-transition: opacity 0.3s ease-in;
 -moz-transition: opacity 0.3s ease-in;
 transition: opacity 0.3s ease-in;
}
/* Showing the submenu when the user is hovering the parent link */
.cssmenuvv > ul li:hover > ul {
 top: 0px;
 opacity: 1;
}
@media only screen and (max-width:980px) {
.cssmenuvv {
  display: none;
}
.cssmenuvv > ul li  {
  width: 78%;
}
.slicknav_menu {
 display:block;
}
}
/* ==========================================================================
  BANNER
   ========================================================================== */
.banner-image img {
  width: 100%;
  height: 200px;
  transition: 0.3s;
}
.banner-image img:hover{
  transform: scale(1.02);
}
.banner {
  margin-top: 3rem;
}
/* ==========================================================================
   WRAPPER IMAGES
   ========================================================================== */
.wrapper {
  position: relative;
  margin-top: 3rem;
}
.wrapper h2 {
  margin: 20px;
}
.wrapper span {
  color:#F91942;
}
.accordion-menu {
  position: absolute;
  width: 90%;
}
/*-------------------------------*/
.box1 a {
  width: 100%;
  text-align: center;
  display: block;
  -webkit-box-shadow:0 0px 25px rgba(0, 0, 0, 0.07);
  box-shadow:0 0px 25px rgba(0, 0, 0, 0.07);
  border:1px solid rgba(0, 0, 0, 0.07);
}
.box1 a:hover {
  background:#20c997;
  box-shadow:0 8px 20px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: all .5s ease 0;
  transition: all .5s ease 0;
  transition: all 0.5s ease 0s;
  transform: scale(1.02);
}
.box2 a:hover {
  background:#F91942;
  box-shadow:0 8px 20px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: all .5s ease 0;
  transition: all .5s ease 0;
  transition: all 0.5s ease 0s;
  transform: scale(1.02);
}
.box3 a:hover {
  background:#17a2b8;
  box-shadow:0 8px 20px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: all .5s ease 0;
  transition: all .5s ease 0;
  transition: all 0.5s ease 0s;
  transform: scale(1.02);
}
.box4 a:hover {
  background:#fd7e14;
  box-shadow:0 8px 20px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: all .5s ease 0;
  transition: all .5s ease 0;
  transition: all 0.5s ease 0s;
  transform: scale(1.02);
}
.box1:hover .box1, .box1:hover a i{
  color: #fff;
  border-radius:10px;
  -webkit-transition: all .5s ease 0;
  transition: all .5s ease 0;
  transition: all 0.5s ease 0s;
}
.box1:hover .box1, .box1:hover h6 {
  color: #fff;
  -webkit-transition: all .5s ease 0;
  transition: all .5s ease 0;
  transition: all 0.5s ease 0s;
}
.box1 a i {
  /* display: inline-block; */
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #F91942;
  font-size: 30px;
  margin-top: 55px;
}

.box1 a h6 {
  margin-top:20px;
  color:#2f2f2f;
  font-size: 22px;
}
/* ==========================================================================
  PRODUCT
========================================================================== */
.media-product {
  margin: 10px 0;
}
.media-product a {
  display: contents;
}
.media-product img {
  width: 30%;
  height: 104px;
}
.product-body {
  margin-left: 15px;
}
.product-info a {
  color: #555;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}
.product-info a:hover {
  color: #F91942;
  text-decoration: none;
}
.rateit-range i {
  color: #FFC808;
}
.price {
  font-weight: bold;
  font-size: 14px;
}
#loadMore {
  margin: 0 auto;
}
.product-hidden {
  display: none;
}
.p-grid .product-image{
   box-shadow: 0 3px 12px -4px rgba(0,0,0,.12);
   overflow: hidden;
   position: relative;
   transition: all 0.3s ease 0s;
 }
 .p-grid:hover .product-image{
   box-shadow: 0 15px 15px -9px rgba(0,0,0,.3);
 }
 .p-grid .product-image a{ display: block; }
 .p-grid .product-image img{
   width: 100%;
   height: 283px;
   background-size: cover;
 }
 .product-image .pic-1{
   backface-visibility: hidden;
   transition: all .75s cubic-bezier(.785,.135,.15,.86);
 }
 .p-grid:hover .product-image .pic-1 { opacity: 0; }
 .product-image .pic-2{
   width: 100%;
   height: 100%;
   opacity: 0;
   backface-visibility: hidden;
   position: absolute;
   top: 0;
   left: 0;
   transition: all .75s cubic-bezier(.785,.135,.15,.86);
 }
 .p-grid:hover .product-image .pic-2{
   opacity: 1;
   transform: scale(1.09);
 }
 .p-grid .product-discount-label,
 .p-grid .product-hot-label{
   color: #fff;
   background-color: #606060;
   text-align: center;
   width: 43px;
   font-size: 12px;
   font-weight: 300;
   letter-spacing: 1px;
   padding: 4px 0;
   position: absolute;
   left: 10px;
   top: 10px ;
 }

 .p-grid .social{
   background-color: #fff;
   padding: 3px;
   margin: 0;
   list-style: none;
   box-shadow: 0 0 5px rgba(0,0,0,0.12);
   opacity: 1;
   position: absolute;
   right: -100%;
   top: 50px;
   transition: all 0.45s ease;
 }
 .p-grid:hover .social{
     opacity: 1;
     right: 15px;
 }

 .p-grid .social li a:after{
   content: '';
   height: 15px;
   width: 15px;
   border-radius: 0;
   transform:translateY(-50%) rotate(45deg);
   right: 50px;
   z-index: 0;
 }
 .p-grid .social li a:hover:before,
 .p-grid .social li a:hover:after{
  display:block;
 }
 .p-grid .product-content{
   text-align: center;
   position: relative;
   margin-top: 12px;
 }
 .p-grid .title{
   font-size: 16px;
   font-weight: 500;
   /* margin: 0 0 10px 0; */
 }
 .p-grid .title a{ color: #222; }
 .p-grid .title a:hover{ color: #F91942;

  }
  h3 {
    padding: 0!important;
    margin: 0!important;
  }
 .p-grid .product-category a{
   font-size: 14px;
   color: #F91942;
   /* margin-bottom: 15px; */
   display: block;
 }
 .p-grid .price {
   color: #444242;
   font-size: 18px;
   font-weight: 600;
   margin-bottom: 110px;
 }
 .p-grid .price span{
   color: #444242;
   font-size: 14px;
   font-weight: 400;
   margin: 3px 0 0 2px;
   text-decoration: line-through;
   opacity: 0.5;
   vertical-align: top;
   display: inline-block;
 }
 .p-grid:hover .add-to-cart { opacity: 1; }
 @media only screen and (max-width:990px){
     .p-grid{ margin-bottom: 30px; }
     .p-grid .add-to-cart {
           bottom: -50px;
     }
 }
 .add-to-cart {
   color: #fff;
   background:#F91942;
   font-size: 12px;
   font-weight: 600;
   width: 55%;
   padding: 10px 0;
   border-radius: 50px;
   transform: translateX(-50%);
   position: absolute;
   left: 50%;
   bottom: -38px;
   transition: all 0.3s linear 0s;
   border: none;
   outline: none;
 }
 .add-to-single-cart {
   color: #fff;
   background:#F91942;
   font-size: 12px;
   font-weight: 600;
   width: 55%;
   padding: 10px 0;
   border-radius: 50px;
   transform: translateX(-50%);
   position: absolute;
   left: 50%;
   transition: all 0.3s linear 0s;
   border: none;
   outline: none;
 }
button:focus {
  outline: none!important;
}
.add-to-Wishlist {
  color: #333;
 background: #fff;
 font-size: 15px;
 text-align: center;
 line-height: 40px;
 height: 40px;
 width: 42px;
 display: block;
 position: relative;
 transition: all 0.3s ease 0s;
 border: none;
 outline: none;
}
.add-to-Wishlist:hover {
  color: #F91942;
}
 /* ==========================================================================
                    Banner 2
    ========================================================================== */
.banner-2 {
  background-image: url(../images/bg_header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  padding: 50px;
}
.banner-overley {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.banner-contain h2 {
  font-size: 100px;
  font-weight: 700;
  color: #F91942;
  text-transform: uppercase;
}
.banner-contain{
  color: #fff;
}
 /* ==========================================================================
                       Product2
    ========================================================================== */
product-2 {
  background: #f5f5f5;
}

.middel-img {
  height: 505px;
}
:root{ --main-color: #e74c3c; }
.product-grid {
  font-family: 'Roboto', sans-serif;
  position: relative;
  }
.product-grid .product-image{
  overflow: hidden;
  position: relative;
  }
.product-grid .product-image:before{
  content: "";
  background: rgba(0,0,0,0.3);
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 0.4s ease-out 0s;
  }
.product-grid:hover .product-image:before{ opacity: 1; }
.product-grid .product-image a{ display: block; }
.product-grid .product-image img{
  width: 100%;
  height: 218px;
  }
  .product-image .pic-1{
    opacity: 1;
    backface-visibility: hidden;
    transition: all 0.4s ease-out 0s;
  }
.product-grid:hover .product-image .pic-1{ opacity: 0; }
.product-image .pic-2{
  width: 100%;
  height: 100%;
  opacity: 0;
  backface-visibility: hidden;
  transform: scale(3);
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.4s ease-out 0s;
  }
.product-grid:hover .product-image .pic-2 {
  opacity: 1;
  transform: scale(1);
  }
.product-image .product-trend-label,
.product-image .product-discount-label{
  content: "";
  color: #fff;
  background-color: #2ecc71;
  font-size: 12px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 0 7px;
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 3;
  border-radius: 50px;
  }
.product-image .product-discount-label{
  background-color: var(--main-color);
  left: auto;
  right: 12px;
  }
.product-grid .social {
  padding: 0;
  margin: 0;
  list-style: none;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 10px;
  z-index: 4;
  }
.product-grid .social li {
  margin: 0 0 12px;
  opacity: 0;
  transform: translateX(-60px);
  transition: transform .3s ease-out 0s;
  }
.product-grid:hover .social li {
    opacity: 1;
    transform: translateX(0);
  }
  .product-grid:hover .social li:nth-child(2){ transition-delay: 0.1s; }
  .product-grid:hover .social li:nth-child(3){ transition-delay: 0.2s; }
  .product-grid:hover .social li:nth-child(4){ transition-delay: 0.3s; }
  .product-grid .social li a {
    color: #fff;
    font-size: 22px;
    transition: all 0.3s;
    text-decoration: none!important;
  }
.product-grid .social li a:hover {
  color: var(--main-color);
  text-decoration: none!important;
 }
.product-grid .social li a:before,
 .product-grid .social li a:after{
  content: attr(data-tip);
  color: #000;
  background: #fff;
  font-size: 14px;
  padding: 5px 10px;
  white-space: nowrap;
  display: none;
  transform: translateY(-50%);
  position: absolute;
  left: 33px;
  top: 50%;
  transition: all 0.3s;
  }
.product-grid .social li a:after{
  content: '';
  background: linear-gradient(-45deg, #fff 49%, transparent 50%);
  width: 10px;
  height: 10px;
  top: 40%;
  left: 20px;
  }
.product-grid .social li a:hover:before,
.product-grid .social li a:hover:after{
  display: block;
  }
.product-grid .product-content{ padding: 12px 0; }
.product-grid .title{
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
  margin: 0 0 5px;
  }
.product-grid .title a{ color: #959595; }
.product-grid .title a:hover{
   color: var(--main-color);
   text-decoration: none!important;
  }
.product-grid .price{
  color: #333;
  font-size: 14px;
  font-weight: 400;
  }
.product-grid .price span{
  color: #333;
  text-decoration: line-through;
  margin-right: 3px;
  }
  .product-grid .price.discount{ color: var(--main-color); }
  @media only screen and (max-width:990px){
    .product-grid{ margin-bottom: 30px; }
  }
/* ==========================================================================
  scrollTop
   ========================================================================== */
.scrollup {
 position: fixed;
 bottom: 88px;
 right: 31px;
 display: none;
 text-align: center;
 z-index: 999;
}
.scroll-top i {
 color: #fff;
 font-size: 23px;
 background: rgba(0, 0, 0, 0.5);
 padding: 5px 7px;
 border-radius: 2px;
 transition: .4s;
}

/* ==========================================================================
index Page Slider
========================================================================== */
.carousel-caption {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 150px;
   /* background-color: rgba(0, 0, 0, 0.5); */
}
.carousel-item img {
  width: 100%;
  height: auto;
}
.carousel-caption {
  bottom: 0!important;
  padding-bottom: 0!important;
}
.carousel-caption {
  text-align: left!important;
}
.carousel-caption h2 {
  color: #fff;
  font-size: 60px;
}
.carousel-caption p {
  font-size: 30px;
  color: #fff;
  font-weight:bold;
}
.carousel-caption h2 span {
  font-weight:bold;
  color:#F91942;
}
/*-----------testimonia slider----*/
.quoteSlides {
  display: none;
  padding: 50px;
  text-align: center;
  height: auto;
}
/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  background-color: #cccccc14;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* The dots/bullets/indicators */
.qtdot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #A8A8A8;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}
.actives, .qtdot:hover {
background-color: #ccc;
}
/* The dot/bullet/indicator container */
.dot-container {
text-align: center;
padding: 10px;
}
/* Add a blue color to the author */
.author {
  color: #595959;
  font-size: 22px;
}
.checked {
color: #ff9900;
}
.hp-signup {
  text-align: center;
  background: #F9FBFD;
  padding: 100px;
}
.hp-signup p {
  font-size: 20px;
}
/* ==========================================================================
  LOG IN Page
========================================================================== */
.img img {
  width: 100%;
}
.login-container {
  display: flex;
  align-items: center;
  text-align: center;
}
.avatar {
  width: 100px;
}
.login-container form {
  width: 300px;
}

.input-div {
  position: relative;
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 25px 0;
  padding: 5px 0;
  border-bottom: 2px solid #d9d9d9;
}
.i {
  display: flex;
  justify-content: center;
  align-items: center;
}
.i i {
  color: #d9d9d9;
  transition: .3s;
}
.input-div.focus .i i {
  color: #F91942;
}
.input-div > div {
  position: relative;
  height: 45px;
}
.input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.0rem;
  color: #555;
}
.login-container a {
  display: block;
  text-align: right;
  text-decoration: none;
  color: #999;
  font-size: 0.9rem;
  transition: .3s;
}
.login-container a:hover {
  color: #38d39f;
}
.log-btn {
  display: block;
  width: 50%;
  height: 40px;
  border-radius: 25px;
  margin: 1rem 0;
  font-size: 1.25rem;
  outline: none;
  border: none;
  background-image:  linear-gradient(to right, #F91942,#fd7f2b, #fd7f2b);
  color: #fff;
  background-size: 200%;
  transition: .5s;
  text-transform: uppercase;
  margin: 0 auto;

}
.log-btn:hover {
  background-position: right;
}
/* ==========================================================================
  START  SINGLE PAGES zoom images
   ========================================================================== */
#default{

}
.xzoom-default {

}
.xzoom-thumbs {
  text-align: left!important;
}
.xzoom {
  width: 420px;
}
.product-description {
  border-right: 1px solid #ebebeb;
}
.product-description a {
  color: #e23e1d;
  font-size: 14px;
  text-decoration: none!important;
}
.product-description h2 {
  color: #F91942;
  font-weight: bold;
  font-size: 22px;
}
.product-description p {
  font-size: 14px;
  color: #666;
  padding: 0px 8px;
}
.product-description ul li {
  color: #666;
  font-size: 14px;
}
.product-description p strong{
  color: #000;
}
.product_meta {
  overflow: hidden;
  color: #232530;
  padding-top: 30px;
  border-top: 1px solid #ebebeb;
  margin-top: 32px;
}

/* ==========================================================================
  START  SINGLE PAGES tab nav
   ========================================================================== */

.tabs {

}
.tabs input[type=radio] {
 display: none;
}
.tabs label {
 transition: background 0.4s ease-in-out, height 0.2s linear;
 display: inline-block;
 cursor: pointer;
 color: #000;
 width: 24%;
 height: 3em;
 background: #FCFCFC;
 text-align: center;
 line-height: 3em;
}
.tabs label:last-of-type {
 border-bottom: none;
}
.tabs label:hover {
 background: #F91942;

 color:#ffffff;
}
@media screen and (max-width: 1600px) {
.tabs label {
 width: 15%; }
}
@media screen and (max-width: 900px) {
.tabs label {
 width: 20%;
 }
}
@media screen and (max-width: 600px) {
.tabs label {
 width: 100%;
 display: block;
 border-bottom: 1px solid #C7C6C4;
 border-radius: 0;
}
}
@media screen and (max-width: 600px) {
.tabs {
 margin: 0;
}
}

#tab1:checked + label, #tab2:checked + label, #tab3:checked + label, #tab4:checked + label {
 background: #F91942;
 color: #FFFFFF; }

.tab-content {
 position: absolute;
 top: -9999px;
 padding: 10px;
}

.tab-content-wrapper{
 background: #FCFCFC;
 border-top: #F91942 1px solid;
 border-bottom-right-radius: 3px;
 border-bottom-left-radius: 3px;
 border-top-right-radius: 3px;

}
@media screen and (max-width: 600px) {
.tab-content-wrapper, .tab1-content-wrapper {
 border: none;
 border-radius: 0;
}
}

#tab1:checked ~ .tab-content-wrapper #tab-content-1, #tab2:checked ~ .tab-content-wrapper #tab-content-2, #tab3:checked ~ .tab-content-wrapper #tab-content-3, #tab4:checked ~ .tab-content-wrapper #tab-content-4 {
   position: relative;
   top: 0px;
  }

.tabs-list-description p {
  font-size: 22px;
}
.price h3 {
  font-weight: bold;
  color: #F91942;
}
.price-btn a {
  text-decoration: none!important;
  color: #000;
  border: 2px solid #F91942;
  padding: 10px 50px;
  border-radius: 20px;
  transition: .5s;
}
.price-btn a:hover {
  color: #fff;
  background-color: #000;
  border: none;
}
.input-number-decrement {
  padding: 9px 10px;
  background-color: #F91942;
}
.input-number-decrement a {
  color: #000;
  text-decoration: none!important;
}
.input-number-increment {
  padding: 9px 10px;
  background-color: #F91942;
}
.input-number-increment a {
  color: #000;
  text-decoration: none!important;
}
.input-number {
  width: 20%;
  font-weight: 600;
  font-size: 14px;
  height: 40px;
  border: 1px solid #ebebeb;
  padding: 5px 20px;
  text-align: left;
  color: #191919;
  outline: none;
}
/*==========================================================================
  Category PAGES Start
========================================================================== */
.category-wrapper {
  margin-top: 20px;
  background-image: url(../images/download2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
}
.category h2 {
  font-size: 18px;
  font-weight: bold;
}
.category-border {
  width: 20%;
  height: 3px;
  background-color: #F91942;
}
.center {
  margin:10px 20px;
}
.center input[type="checkbox"] {
  position: relative;
  top: 0;
  width: 15px;
  height: 15px;
  -webkit-appearance:none;
  outline: none;
  transition: .5s;
}
.center input[type="checkbox"]:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #F91942;
  box-sizing: border-box;
  transition: .5s;
}
.center input:checked[type="checkbox"]::before {
  border-left: none;
  border-top: none;
  width: 7px;
  border-color: #FF6536;
  transform: rotate(45deg) translate(5px, -10px);
}
.center label {
  font-size: 12px;
}
.center label a {
  text-decoration: none;
}
.center span {
  color: #F91942;
}
/*==========================================================================
   START A CHECK OUT PAGES
========================================================================== */
.form-control:focus {
  border-color: #FF0000!important;
  border: 1px solid #000;
  outline: 0;
  box-shadow: none!important;
}
.form-control {
  border-radius: 0px!important;
  background-clip:none!important;
}
.check-name {
  color: #4C4C4C;
  font-size: 18px;
  font-weight: bold;
}
.check-name span {
  color: #FF0000;
}
.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.checkout-btn button {
  /* width: 30%; */
  text-decoration: none!important;
  color: #F91942;
  border: 2px solid #F91942;
  padding: 8px 20px;
  /* border-radius: 20px; */
  transition: .5s;
  background: transparent;
}
.checkout-btn button:hover {
  color: #fff;
  background-color: #000;
  border: 2px solid #F91942;
}
.card-header p {
  text-decoration: none;
  color: #000;
  display: block;
}
.card-header  {
  padding: 0!important;
}
.accordion-btn a {
  color: #000;
  text-decoration: none;
  display: block;
}
.accordion-btn a:hover,.accordion-btn a:focus {
  color: #000;
  text-decoration: none;
}
.check-form {
  padding: 20px;
  border: 1px solid #dadada;
}

.Yorder{
  padding: 20px;
  border: 1px solid #dadada;
}
.Yorder table{
  margin: 0;
  padding: 0;
}
.Yorder table th{
  border-bottom: 1px solid #dadada;
  padding: 10px 0;
  text-align: center;
}
.Yorder tr>td:nth-child(1){
  text-align: left;
  color: #2d2d2a;
}
.Yorder tr>td:nth-child(2){
  text-align: right;
  color: #F91942;
}
.Yorder td{
  border-bottom: 1px solid #dadada;
  padding: 25px 25px 25px 0;
}

.Yorder p{
  display: block;
  color: #888;
  margin: 0;
  padding-left: 25px;
}

.checkout-menu ul {
  margin: 0;
  padding: 0;
}
.checkout-menu ul li {
  list-style: none;
  display: inline-block;
}
.checkout-menu ul li a {
  color: #595959;
  text-decoration: none;
}
/*==========================================================================
   ABOUT US PAGES
========================================================================== */
.about-us {
  background-image: url(../images/aboutus.PNG);
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
}
.what-we-do {
  background-image: url(../images/about-primo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  position: relative;
  background-attachment: fixed;
  z-index: 999;
}
.what-we-do-overley {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
}
.what-we h1 {
  font-weight: bold;
  color: #000;
}
.what-we h1 span {
  color: #F91942;
}
.what-we h4 span {
  color: #FD7F2B;
}
.story {
  font-size: 18px;
  font-family: 'Roboto', sans-serif!important;
}
.story p {
  color: #737373;
}
@media (max-width:767px) {
  .story p {
    font-size: 14px;
    margin-bottom: 0px;
  }
}

/*==========================================================================
   START Shpping-setting Page
========================================================================== */
.form-control-file, .form-control-range {
    display: block;
    width: 100%;
    background-color: var(--gray);
    border: 1px solid #f91942;
    outline: none;
}
.dollar {
  padding: 10px;
}
.shipping-area {
  padding: 100px 0;
  background-color: #EFF0F4;
}
.shipping-banner {
  width: 100%;
  background-image: url(../images/mujer.jpg);
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-text {
  margin-top: 80px;
  text-align: center;
}
.banner-text h2 {
  color: #F91942;
  font-size: 48px;
}
.banner-text p {
  color: #fff;
  font-size: 18px;
}
.shipping-services {
  background-image: url(../images/bg_feature_section.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
}
.shipping-services-item {
   margin-top: 50px;
   box-shadow: 0px 3px 8px 2px #ededed;
   text-align: left;
   padding: 15px;
   transition: .4s;
   cursor: pointer;
}
.shipping-services-item h4 {
  margin: 15px 0;
}
 .shipping-services-item ul {
   margin: 0;
   padding: 0;
 }
 .shipping-services-item ul li {
  list-style: none;
 }
  .shipping-services-item ul li i {
    color: #F91942;
  }
 .ready-shop-btn {
   width: 20%!important;
   margin: 0 auto;
   padding-bottom: 10px!important;
 }
 textarea.form-control {
     height: 40px!important;
 }
.market-heding {
  color: #F91942;
}
 .market-plase {
   background-color: #fff;
   padding: 20px;
   box-shadow: 0px 3px 8px 2px #ededed;
 }
 .market-plase a {
   color: #000;
   display: contents;
 }
 .market-plase a:hover {
   color: #F91942;
 }
 .market li img {
   width: 30%;
 }
.swift-table {
  width: 80%;
  padding: 20px 0;

}
.swift-table .table {
    width: 75%;
    margin: 0 auto;
}
.swift-table .table td, .table th {
  font-size: 12px;
}
.user-account {
  box-shadow: 0 0px 25px rgba(0, 0, 0, 0.07);
}
.card-body-from {
  background-color: #fff;
}
.order-box {
  margin-bottom: 20px;
  border-radius: 20px;
}
.order-box a {
  width: 100%;
  color: #000;
  font-size: 18px;
  width: 100%;
  text-align: center;
  height: 350px;
  transition: .4s;
  border-radius: 20px;
  padding: 20px;
  line-height: 3px;
  font-family: robotto;
}
.order-box a:hover {
  color: #fff;
  border-radius: 20px;
  background-color: #ccc;
}
.shipping-area-box {
  background-color: #fff;
}
/*==========================================================================
   INSIDE SHAPPING PAGE
========================================================================== */
.inside-form {
  padding: 20px;
  border: 1px solid #dadada;
}
.inside-table {
  padding: 20px;
  border: 1px solid #dadada;
  height: 100vh;
}
/* ==========================================================================
  Contact US
   ========================================================================== */
.sec-title-style1 {
  position: relative;
  display: block;
  margin-top: -9px;
  padding-bottom: 50px;
}
.sec-title-style1.max-width{
  position: relative;
  display: block;
  max-width: 770px;
  margin: -9px auto 0;
  padding-bottom: 52px;
}
.sec-title-style1.pabottom50 {
  padding-bottom: 42px;
}
.sec-title-style1 .title {
  position: relative;
  display: block;
  color: #131313;
  font-size: 36px;
  line-height: 46px;
  font-weight: 700;
  text-transform: uppercase;
}
.sec-title-style1 .title.clr-white{
  color: #ffffff;
}
.sec-title-style1 .decor {
  position: relative;
  display: block;
  width: 70px;
  height: 5px;
  margin: 19px 0 0;
}
.sec-title-style1 .decor:before{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 5px;
  height: 5px;
  background: #5AA1E3;
  border-radius: 50%;
  content: "";
}
.sec-title-style1 .decor:after{
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  width: 5px;
  height: 5px;
  background: #5AA1E3;
  border-radius: 50%;
  content: "";
}
.sec-title-style1 .decor span {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 1px;
  background: #5AA1E3;
  margin: 2px 0;
}
.sec-title-style1 .text{
  position: relative;
  display: block;
  margin: 7px 0 0;
}
.sec-title-style1 .text p{
  position: relative;
  display: inline-block;
  padding: 0 15px;
  color: #131313;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}
.sec-title-style1 .text.clr-yellow p{
  color: #5AA1E3;
}
.sec-title-style1 .text .decor-left{
  position: relative;
  top: -2px;
  display: inline-block;
  width: 70px;
  height: 5px;
  background: transparent;
}
.sec-title-style1 .text .decor-left span {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 1px;
  background: #F91942;
  content: "";
  margin: 2px 0;
}
.sec-title-style1 .text .decor-left:before{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 5px;
  height: 5px;
  background: #F91942;
  border-radius: 50%;
  content: "";
}
.sec-title-style1 .text .decor-left:after{
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  width: 5px;
  height: 5px;
  background: #F91942;
  border-radius: 50%;
  content: "";
}
.sec-title-style1 .text .decor-right{
  position: relative;
  top: -2px;
  display: inline-block;
  width: 70px;
  height: 5px;
  background: transparent;
}
.sec-title-style1 .text .decor-right span {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 1px;
  background: #F91942;
  content: "";
  margin: 2px 0;
}
.sec-title-style1 .text .decor-right:before{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 5px;
  height: 5px;
  background: #F91942;
  border-radius: 50%;
  content: "";
}
.sec-title-style1 .text .decor-right:after{
  position: absolute;
  top: 0;
  left: 10px;
  bottom: 0;
  width: 5px;
  height: 5px;
  background: #F91942;
  border-radius: 50%;
  content: "";
}

.sec-title-style1 .bottom-text{
  position: relative;
  display: block;
  padding-top: 16px;
}
.sec-title-style1 .bottom-text p{
  color: #848484;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
}
.sec-title-style1 .bottom-text.clr-gray p{
  color: #cdcdcd;
}
.contact-address-area{
  position: relative;
  display: block;
  background: #ffffff;
  padding: 100px 0 120px;
}
.contact-address-area .sec-title-style1.max-width {
  padding-bottom: 72px;
}
.contact-address-box{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.single-contact-address-box {
  position: relative;
  display: block;
  background: #131313;
  padding: 85px 30px 77px;
}
.single-contact-address-box .icon-holder{
  position: relative;
  display: block;
  padding-bottom: 24px;
}
.single-contact-address-box .icon-holder span:before{
  font-size: 75px;
}
.single-contact-address-box h3{
  color: #ffffff;
  margin: 0px 0 9px;
}
.single-contact-address-box h2{
  color: #F91942;
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 19px;
}
.single-contact-address-box a{
    color: #ffffff;
}

.single-contact-address-box.main-branch {
  background: #F91942;
  padding: 53px 30px 51px;
  margin-top: -20px;
  margin-bottom: -20px;
}
.single-contact-address-box.main-branch h3{
  color: #131313;
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 38px;
  text-transform: uppercase;
  text-align: center;
}
.single-contact-address-box.main-branch .inner{
    position: relative;
    display: block;

}
.single-contact-address-box.main-branch .inner ul{
    position: relative;
    display: block;
    overflow: hidden;
}
.single-contact-address-box.main-branch .inner ul li{
    position: relative;
    display: block;
    padding-left: 110px;
    border-bottom: 1px solid #fff;
    padding-bottom: 23px;
    margin-bottom: 24px;
}
.single-contact-address-box.main-branch .inner ul li:last-child{
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.single-contact-address-box.main-branch .inner ul li .title{
    position: absolute;
    top: 2px;
    left: 0;
    display: inline-block;
}
.single-contact-address-box.main-branch .inner ul li .title h4{
    color: #131313;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-transform: capitalize;
    border-bottom: 2px solid #fff;
}

.single-contact-address-box.main-branch .inner ul li .text{
    position: relative;
    display: block;
}
.single-contact-address-box.main-branch .inner ul li .text p{
    color: #131313;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    margin: 0;
}

.contact-info-area {
    position: relative;
    display: block;
    background: #ffffff;
}
.contact-form {
    position: relative;
    display: block;
    background: #ffffff;
    padding: 100px 60px 80px;
    -webkit-box-shadow: 0px 3px 8px 2px #ededed;
    box-shadow: 0px 3px 8px 2px #ededed;
    z-index: 3;
}
.contact-form .sec-title-style1{
    position: relative;
    display: block;
    padding-bottom: 51px;
    width: 50%;
}
.contact-form .text-box{
    position: relative;
    display: block;
    margin-top: 19px;
    width: 50%;
}
.contact-form .text p{
    color: #848484;
    line-height: 26px;
    margin: 0;
}

.contact-form .inner-box{
    position: relative;
    display: block;
    background: #ffffff;
}
.contact-form form{
    position: relative;
    display: block;
}
.contact-form form .input-box{
    position: relative;
    display: block;
}

.contact-form form input[type="text"],
.contact-form form input[type="email"],
.contact-form form textarea{
    position: relative;
    display: block;
    background: #ffffff;
    border: 1px solid #eeeeee;
    width: 100%;
    height: 55px;
    font-size: 16px;
    padding-left: 19px;
    padding-right: 15px;
    border-radius: 0px;
    margin-bottom: 20px;
    transition: all 500ms ease;
}
.contact-form form textarea {
    height: 130px;
    padding-left: 19px;
    padding-right: 15px;
    padding-top: 14px;
    padding-bottom: 15px;
}
.contact-form form input[type="text"]:focus{
    color: #222222;
    border-color: #d4d4d4;
}
.contact-form form input[type="email"]:focus{
    color: #222222;
    border-color: #d4d4d4;
}
.contact-form form textarea:focus{
    color: #222222;
    border-color: #d4d4d4;
}
.contact-form form input[type="text"]::-webkit-input-placeholder {
    color: #848484;
}
.contact-form form input[type="text"]:-moz-placeholder {
    color: #848484;
}
.contact-form form input[type="text"]::-moz-placeholder {
    color: #848484;
}
.contact-form form input[type="text"]:-ms-input-placeholder {
    color: #848484;
}
.contact-form form input[type="email"]::-webkit-input-placeholder {
    color: #848484;
}
.contact-form form input[type="email"]:-moz-placeholder {
    color: #848484;
}
.contact-form form input[type="email"]::-moz-placeholder {
    color: #848484;
}
.contact-form form input[type="email"]:-ms-input-placeholder {
    color: #848484;
}
.contact-form form button {
    position: relative;
    display: block;
    width: 100%;
    background: #F91942;
    border: 1px solid #F91942;
    color: #131313;
    font-size: 16px;
    line-height: 55px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    transition: all 200ms linear;
    transition-delay: 0.1s;
    cursor: pointer;
}
.contact-form form button:hover{
    color: #ffffff;
    background: #131313;
}

/* ==========================================================================
   Reshiping page
   ========================================================================== */
.story span {
  color: #FD7F2B;
}
.total-cost {
  background-color: #F2F2F2;
}
.reshipping-box {
  margin-top: 50px;
  background-color: #f8f9fa;
  padding: 100px;
}
.box {
  width: 100%;
  background-color: #20C997;
  color: #000;
  padding: 20px;
  position: relative;
  margin: 40px;
  box-shadow: 1px 2px 3px 0px;
}

.box.arrow-top {
  margin-top: 40px;
}

.box.arrow-top:after {
  content: " ";
  position: absolute;
  right: 30px;
  top: -15px;
  border-top: none;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 15px solid #20C997;
}

.box.arrow-right:after {
  content: " ";
  position: absolute;
  right: -15px;
  top: 15px;
  border-top: 15px solid transparent;
  border-right: none;
  border-left: 15px solid  #20C997;
  border-bottom: 15px solid transparent;
}

.box.arrow-bottom:after {
  content: " ";
  position: absolute;
  right: 30px;
  bottom: -15px;
  border-top: 15px solid  #20C997;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: none;
}

.box.arrow-left:after {
  content: " ";
  position: absolute;
  left: -15px;
  top: 15px;
  border-top: 15px solid transparent;
  border-right: 15px solid  #20C997;
  border-left: none;
  border-bottom: 15px solid transparent;
}


/*==========================================================================
   MY CART
========================================================================== */
.my-cart {
  background-color: #F1F2F4;
}
.mycart-img img {
  width: 100%;
}
.nomargin {
  color: #000;
}
.mycart-increment {
  padding: 9px 10px;
  background-color: #35A3D3;
}
.mycart-decrement {
  padding: 9px 10px;
  background-color: #35A3D3;
}
.mycart-decrement a {
  color: #000;
  text-decoration: none!important;
}
/*==========================================================================
   FOOTER1
========================================================================== */
.footer-1 {
  margin-top: 100px;
  color: #fff;
  width: 100%;
  height: 70px;
  background-color: #F91942;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-header {

}
.footer-header h4 {
  text-align: center;
}
/*==========================================================================
   FOOTER
========================================================================== */
.uShopnShip {
  margin-left: 3rem;
  text-transform: inherit!important;
}
.site-footer h6 {
  margin-left: 3rem;
}
.footer-links {
  margin-left: 3rem;
}
.site-footer {
 background-color:#ebeff9;
 padding:45px 0 20px;
 font-size:15px;
 line-height:24px;
 color:#000;
}
.site-footer hr {
 border-top-color:#bbb;
 opacity:0.5;
}
.site-footer hr.small {
 margin:20px 0;
}
.site-footer h6 {
 color:#000;
 font-size:16px;
 text-transform:uppercase;
 margin-top:5px;
}
.site-footer a {
 color:#737373;
}
.footer-links {
 padding-left:0;
 list-style:none;
}
.footer-links li {
 display:block;
}
.footer-links a {
 color:#737373;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover {
 color:#FD7F2B;
 text-decoration:none;
}
.footer-links.inline li {
 display:inline-block;
}
.social-icons {
  margin-left: 3rem;
}
.site-footer .social-icons a {

}
.copyright-text {
 margin:0;
}
@media (max-width:991px) {
 .site-footer [class^=col-]
 {
   margin-bottom:10px;
 }
}
@media (max-width:767px) {
 .site-footer {
   padding-bottom:0;
   text-align: center;
 }
 .site-footer .copyright-text,.site-footer .social-icons {
   text-align:center;
 }
}
.social-icons {
 padding-left:0;
 margin-bottom:0;
 list-style:none;
}
.social-icons li {
 display:inline-block;
}
.social-icons li.title
{
 margin-right:15px;
 text-transform:uppercase;
 color:#96a2b2;
 font-weight:700;
 font-size:13px;
}
@media (max-width:767px) {
 .social-icons li.title {
   display:block;
   margin-right:0;
   font-weight:600;
 }
}
.subscribe {
  width: 60%!important;
}
.social-icons li a img {
  width: 70%;
}

.subscribe-btn button {
  width: 100%;
  text-decoration: none!important;
  color: #000;
  border: 1px solid #000;
  padding: 6px 20px;
  transition: .5s;
  background: transparent;
}
/* .subscribe-btn button:hover {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
} */
/*-----------------Footer socail icon-------------*/
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: nowrap;
}
.rounded-social-buttons {
  margin-top: 20px;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 36px;
  height: 36px;
  border:1px solid #d8d8d9;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #191919;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 1.1em;
  border-radius: 1.6875rem;
  /* transition: all 0.5s ease; */
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}
.rounded-social-buttons .fa-twitter, .fa-facebook-f, .fa-linkedin, .fa-youtube, .fa-instagram {
  font-size: 18px;
}

.rounded-social-buttons .social-button.facebook {
  background: #DDE0E8;
}

.rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
  color: #fff;
  background: #5AA1E3;
  /* border-color: #3b5998; */
}

.rounded-social-buttons .social-button.twitter {
  background: #DDE0E8;
}

.rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
  color: #fff;
  background: #5AA1E3;
  /* border-color: #55acee; */
}

.rounded-social-buttons .social-button.linkedin {
  background: #DDE0E8;
}

.rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
  color: #fff;
  background: #5AA1E3;
  /* border-color: #007bb5; */
}

.rounded-social-buttons .social-button.youtube {
  background: #DDE0E8;
}

.rounded-social-buttons .social-button.youtube:hover, .rounded-social-buttons .social-button.youtube:focus {
  color: #fff;
  background: #5AA1E3;
  /* border-color: #bb0000; */
}

.rounded-social-buttons .social-button.instagram {
  background: #DDE0E8;
}

.rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
  color: #fff;
  background: #5AA1E3;
  /* border-color: #125688; */
}
/* ==========================================================================
   reshipping USER
   ========================================================================== */
.reshiping-btn {
  background-color: #FD7F2B!important;
  border-color: #fff!important;
  width: 70%;
  border-radius: none!important;
}
.btn-primary.focus, .btn-primary:focus {
  box-shadow:none!important;
}
.box-list {
  text-align: center;
}
.box-list select{
  width: 100%;
  background: #F2F2F2;
  padding: 4px;
}
.cart {
  padding: 20px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

/* ==========================================================================
   MY profile
   ========================================================================== */
.my-profile {
  width: 100%;
  height: 50px;
  background-color: #FFF;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}
.p-pic {
  margin-left: 2px;
}
.profile-header {
  background-color: #F91942!important;
}
.profile-btn {
  text-align: center;
  display: block;
  width: 100%;
  height: 40px;
  font-size: 1.25rem;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #F91942,#fd7f2b, #F91942);
  color: #fff;
  background-size: 200%;
  transition: .5s;
  text-transform: uppercase;

}
.profile-btn:hover {
  background-position: right;
}
.pro-btn {
  float: right;
}
.pro-btn button {
  text-decoration: none!important;
  color: #F91942;
  border: 2px solid #F91942;
  padding: 5px 20px;
  transition: .5s;
  background: transparent;
}
.pro-btn button:hover {
  color: #fff;
  background-color: #000;
  border: 2px solid #F91942;
}
/* ==========================================================================
   User Profile
   ========================================================================== */
.user-profile {
  background-color: #EFF0F4;
  padding: 100px 0;
}
.user-account h4 {
  font-size: 22px;
  font-weight: 400;
  color: #424242;
}
.user-nav ul {

}
.user-nav ul li {
  list-style: none;
}
.user-nav ul li a {
  font-weight: 500;
  color: #000;
}
.user-nav ul li .active{
  color: #F91942;
  font-weight: bold;
}
.user-nav ul ul li a {
  font-family: Roboto;
  font-size: 16px;
  color: #757575;
  letter-spacing: 0;
  line-height: 22px;
  font-weight: 0!important;
}
.user-account {
  background-color: #fff;
}
.fa-edit{
  color: #424242;
}
.parsonal-info {
  padding: 20px;
}
/* ==========================================================================
   Show
   ========================================================================== */

/*============================================
mymasonry images
==============================================*/
.gallery img {
  width: 100%;
  height: 400px;
}
.mymasonry-overlay {
	position: absolute;
	background: rgba(106, 103, 94, 0.7);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-transition: .7s;
	-moz-transition: .7s;
	-ms-transition: .7s;
	-o-transition: .7s;
	transition: .7s;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	display: flex;
	align-items: center;
	justify-content: center;

}

/*---rebox---------------ARRAW*/
.re-box {
  border-radius: 20px!important;
}
.arrow-top img {
  margin-top: 25px;
}
.re-border {
  border-radius: 20px;
  color: #fff;
}
.arrow-down {
  display: none;
}


.grid-item:hover .mymasonry-overlay {
	opacity: 1;
	transform: scale(.9);
  margin-top: 15px;
}
.mymasonry-overlay i {
	font-size: 50px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}
.grid-item a img {
  width: 100%;
  height: 300px;
  margin-top: 30px;
}









/*Jabbir Css*/

.card-height{

  height: 300px;
}

.language-btn{

  padding: 0 5px!important;
}
.statusShow{

  border: 1px solid #ddd;
  padding: 5px;
  margin: 0 5px;
  font-size: 26px;
  color: #00884B;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */



.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
