/*=================Index Page==================*/
@media only screen and (max-width:980px)  {
  .carousel-item img {
    width: 100%;
    height: 250px;
  }
  .carousel-caption {
    margin-bottom:60px;
  }
  .carousel-caption h2 {
    font-size: 22px;
}
.carousel-caption p {
    font-size: 16px;
    color: #fff;
    font-weight: bold;
}
.order-box-text {
  font-size: 18px!important;
}
.order-box a {
  height: 200px;
}
.right-nav {
  margin: 0!important;
  float: left;
  overflow: hidden;
}
.navbar-brand {
  padding:0 15px!important;
}
.navbar-light .navbar-toggler {
  margin:0px 15px;
}
.opction select {
  padding: 7.5px 0px;
}
.opction {
  font-size: 12px;
}
.searchButton {
  width: 30px;
}
.manu ul li i {
  font-size: 12px;
}
.text-track {
  font-size: 12px;
}
.manu ul li {
  padding: 0px 10px;
}
.wrapper {
  margin: 0!important;
}
.wrapper h2 {
  font-size: 14px;
  margin: 20;
}

.banner-image img {
  height: 70px;
}
.title-box h4 {
  font-size: 14px;
}

.product-info a {
  font-size: 10px;
}
.rateit-range i {
  font-size: 8px;
}
.price {
  font-size: 9px;
}
.product-image .product-discount-label {
  right: 0;
}
.product-image .product-trend-label, .product-image .product-discount-label {
  font-size: 10px;
  line-height: 14px;
}
.p-grid .title a {
  font-size: 12px;
}
.p-grid .product-category a {
  font-size: 12px;
}
.p-grid .title {
  font-size: 10px;
  font-weight:0;
  margin: 0;
}
.p-grid .price {
  font-size: 13px;
}
.price {
  /* margin: 0!important; */
}
.add-to-cart {
  width: 50%;
  padding: 7px 0;
  font-size: 12px;
}
.banner-contain h2{
  font-size: 22px;
}
.box1 {
  margin-bottom: 20px;
}
.box1 a h6 {
  font-size: 14px;
}
.contact-left {
  margin-bottom: 20px;
}
.contact{
  margin-bottom: 20px;
}
#gallary a img {
  margin-bottom: 20px;
}
.form-row {
  margin-left: 60px!important;
}
  }/*end media */
  @media  screen and (max-width: 1440px) {
    .fa-chevron-down {
      display: contents;
    }
    .card-header .fa-chevron-down {
        margin-left: 0;
    }
    .social-icons li {
    margin-bottom: 5px;
}
    .navbar-nav {
      margin-left: 0px;
    }
    .search {
      margin-left: 30px;
    }
    .carousel-caption {
      margin-bottom: 50px;
    }
    .carousel-caption h2 {
    font-size: 48px;
}
.p-grid .title a {
    font-size: 14px;
}
  }
/*------------------home page-------*/
@media (min-width: 320px) and (max-width: 480px) {
  .top-header {
    display: none;
  }
  .navbar {
    padding: .5rem 0rem!important;
  }
  .nav-2 {
    padding: 0;
  }
  .wrapper {
    padding: 0;
  }
  .banner {
    margin: 0;
    padding: 0;
  }
  .product {
    padding: 0;
  }
  .media-product img {
    width: 42%;
    height: 80px;
}
.p-grid .product-image img {
  height: 166px!important;
}
.product-grid .product-image img {
    height: 166px!important;
}
.product-body {
    margin-left: 5px;
    margin-top: -10px;
}
.product-2 {
  padding: 0;
}
.site-footer h6 {
  margin: 0;
}
.pp {
  margin-bottom: 10px;
}
.footer-header h4 {
  font-size: 12px;
}
.swift-table {
  overflow: scroll;
}
.order-box-text {
  font-size: 18px!important;
}


}
/*=================Single pages==================*/
@media (min-width: 320px) and (max-width: 480px) {
  .single-product {
    padding: 0;
  }
  .xzoom {
    width: 290px;
}
}
@media only screen and (max-width:980px) {
  .single-product {
    padding: 0;
  }
  .p-grid .product-image img {
    height: 166px!important;
  }
  .product-grid .product-image img {
      height: 166px!important;
  }

}
  @media  screen and (max-width: 1440px) {
    .xzoom {
     width: 348px;
    }
    .price-btn a {
      padding: 10px 40px;
    }
    .p-grid .product-image img {
      height: 166px!important;
    }
    .product-grid .product-image img {
        height: 166px!important;
    }
    .media-product img {
      height: 72px;
    }
    .add-to-cart {
      width: 80%;
    }
    .p-grid .price {
      font-size: 14px;
    }
    .shipping-services h5 {
      margin-bottom: 30px;
      font-size: 16px;
    }
    .shipping-services-item {
      margin: 30px 0;
    }
  }
  /*===========================tab view==================*/
  @media  screen and (max-width: 1024px) {
    .navbar-brand {
      padding: 0;
    }
    .navbar-brand img {
    width: 85%;
    }
    .main-nav-right {
      margin: 0;
    }
    .nav-2 {
      padding: 0;
    }
    .xzoom {
     width: 240px;
    }
    .add-to-cart {
      width: 80%;
      padding: 6px 0;
    }
    .price-btn a {
      padding: 10px 12px;
    }
    .subscribe {
    width: 48%!important;
    }
    .fa-chevron-down {
      display: none!important;
    }
    .accordion-menu {
      width: 100%;
    }
    .manu ul li i {
      font-size: 16px;
      margin-right: 0px;
    }
    .wrapper {
      padding: 0;
    }
    .banner {
      padding: 0;
    }
    .product {
      padding: 0;
    }
    .media-product img {
      width: 42%;
      /* height: 80px; */
  }
  /* .p-grid .product-image img {
    height: 166px!important;
  } */
  .product-info a {
    font-size: 12px;
  }
  .rateit-range i {
    font-size: 10px;
  }
  .price {
   font-size: 12px;
  }
  .product-2 {
    padding: 0;
  }
  .product-image .product-trend-label, .product-image .product-discount-label {
    font-size: 8px;
    line-height: 16px;
    padding: 0 3px;
    position: absolute;
    top: 2px;
    }
    .category-area {
      padding: 0;
    }
    .subscribe-btn button  {
      padding: 6px 5px;
    }
  .carousel-caption {
    margin-bottom: 40px;
  }
  .carousel-caption h2 {
    font-size: 22px;
  }
  .carousel-caption p {
    font-size: 20px;
  }
  .checkout {
    padding: 0;
  }
  .profile-btn {
    font-size: 14px;
  }
  .p-grid .product-image img {
    /* height: 140px!important; */
  }
  .product-grid .product-image img {
      /* height: 140px!important; */
  }
  .media-product img {
    /* height: 72px; */
  }
}
/*=================Store page==================*/
@media only screen and (max-width:980px) {
  .category-area {
    padding: 0;
  }
  .contact-form {
    padding: 10px 10px;
  }
  .contact-info-area {
    padding: 0;
  }
  .sec-title-style1 .title {
    font-size: 14px;
    line-height: 1.5;
  }
  .sec-title-style1 {
    width: 100%;
    padding: 0;
  }
  .contact-form .sec-title-style1 {
    width: 100%;
    padding: 0;
  }
  .contact-form .text-box {
    width: 100%;
  }
  .product-grid .product-image img {
      /* height: 166px!important; */
  }
  .subscribe {
    display: none;
  }
  .help {
    display: none;
  }
  .information {
    display: none;
  }
  .legal {
    display: none;
  }
  .social-icons {
    display: none;
  }
}
/*=================Check out page==================*/
@media only screen and (max-width:980px) {
  .Yorder {
    padding: 8px;
  }
  .Yorder p {
    padding: 0;
}
.accordion-btn a {
  font-size: 12px;
}
}
/*=================my cart page==================*/
@media only screen and (max-width:980px) {
  .my-cart {
    padding: 0;
  }
  .nomargin {
    font-size: 14px;
}
.nomargin-text {
  font-size: 12px;
}
  .table td, .table th {
     padding:1rem 0rem!important;
  }
  .btn-group-sm>.btn, .btn-sm {
    margin-top: 20px;
  }
}
/*=================ordering system==================*/
@media only screen and (max-width:980px) {
  .shipping-services-item {
    margin-top: 0px;
    padding: 2px;
}
.shipping-services p {
  font-size: 14px;
}
.shipping-services-item i {
  font-size: 26px;
}
.shipping-services-item h4 {
  font-size: 14px;
}
.ready-shop-btn {
  width: 50%!important;
}
.search {
    margin-left:0px;
}
}
/*=================shipping setting==================*/
@media  screen and (max-width:980px) {
  .banner-text {
    margin: 0;
  }
  .banner-text h2 {
    font-size: 30px;
    margin-top: 50px;
  }
  .banner-text p {
    font-size: 16px;
  }
  .panel-title a {
    font-size: 14px;
  }
  .panel-title i {
    font-size: 18px;
  }

}
@media  screen and (max-width:980px) {
  .subscribe-btn button {
    padding: 7px 10px;
    font-size: 12px;
  }
  .footer-header h4 {
    font-size: 12px!important;
}

}

@media only screen and (max-width:980px)  {
  .search {
    width: 100%;
  }
  .manu {
    float: left;
  }
  /* .right-nav {
    float: left;
  } */
  .top-nav {
    z-index: 2;
  }
  .main-nav-right {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .dropleft .dropdown-menu {
    left: 100%!important;
}
.navbar-nav {
  margin-left: 0px;
}
.accordion-menu {
  display: none;
}

.product-title a {
  font-size: 12px;
}
.banner-image {
  margin-top: 10px;
}
.navbar-collapse {
  margin-left: 3rem;
}
.wp-img img {
  height: 290px;
}
.form-row,.left-content {
  padding: 0 0px;
}
#wrapper .progress_bar {
  width: 38px;
}
#wrapper .baricon  {
  border-radius: 78%;
  padding: 5px;
}
.hp-signup {
  padding: 0;
}
.uShopnShip {
  margin-left: 0rem;
}
.footer-links {
  margin-left: 0rem;
}
.site-footer h6 {
    margin-left: 0;
}
}
@media (min-width: 320px) and (max-width: 480px) {
  .carousel-caption h2 {
    font-size: 14px;
}
  .hp-signup h2 {
    font-size: 14px;
  }
  .hp-signup {
    padding: 0;
  }
  .hp-signup p {
    font-size: 14px;
  }

}
/*=================ABOUT US==================*/
@media only screen and (max-width:980px) {
  .promise-img {
    margin-top: 20px;
  }
.shipping-item h5 {
  font-size: 14px;
}
}
@media (min-width: 320px) and (max-width: 480px) {
  .carousel-caption h2 {
    font-size: 14px;
}
  .subscribe {
    width: 52%!important;
   }
  .story p {
      font-size: 12px;
    }
  /*----footer----*/
  .social-icons {
    margin: 0;
  }
  .uShopnShip {
    margin-left: 0rem;
  }
  .footer-links {
    margin-left: 0rem;
  }
}
/*=================My cart==================*/
@media only screen and (max-width:980px) {
  .btn-warning {
    padding: 0!important;
    font-size: 9px!important;
  }
  .btn-mycart {
    padding: 0 0px;!important;
    font-size: 9px!important;
  }

}
/*=================Log ing==================*/
@media only screen and (max-width:980px) {
  .login-container form {
    margin: 0 auto;
  }
  .img {
    display: none;
  }
}
