/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   HEADER
   ========================================================================== */
*body {
 font-family: 'Roboto', sans-serif!important;
}
.main-menu {
  /* position: sticky;
  top: 0;
  z-index: 999; */
}
/* ==========================================================================
   Top NAV
   ========================================================================== */
.top-header {
  background-color: #F5F5F5;
}
.top-header p {
  font-size: 12px;
  margin-top: 10px;
}
.top-header p span {
  color: #5AA1E3;
}
.right-nav {
  float: right;
  margin: 5px 0;
  padding: 0;
}
.right-nav li {
  list-style: none;
  display: inline-block;
}
.right-nav li a {
  text-decoration: none;
  padding: 0 10px;
}
.right-nav li a i {
  margin-top: 10px;
  color: #4d4d4d;
  font-size: 12px;
}
.right-nav li a i:hover {
  color: #FD7F2B;
}
/* ==========================================================================
   NAVBAR
   ========================================================================== */
.main-nav {
  position: sticky;
  top: 0;
  z-index: 999;
}
.navbar {
    background-color: #FFFFFF;
}
.navbar-nav {
  margin-left: 320px;
}
.navbar-light .navbar-nav .active> {
    color: #303030;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #E23E1D!important;
}
.main-nav-right {
  float: right;
  margin: 5px 0;
  padding: 0;
}
.main-nav-right ul {

}
.main-nav-right li {
  list-style: none;
  display: inline-block;
}
.main-nav-right li a {
  font-size: 14px;
  color: #666;
  text-decoration: none;

  transition: .5s;
}
.main-nav-right li a:hover {
  color: #8AC9F4;
}

.nav-2 {
  background-color: #FFFFFF;
}
.search {
  width: 100%;
  position: relative;
  display: flex;
  margin: 5px 0;

}
.searchTerm {
  width: 100%;
  border: 1px solid #fff;
  border-right: none;
  padding: 15px;
  height: 20px;
  outline: none;
  color: #9DBFAF;
}
.searchTerm:focus{
  color: #00B4CC;
}
.searchButton {
  width: 140px;
  height: 31.5px;
  border: 1px solid #5AA1E3;
  background: #5AA1E3;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}
.search {
  border: 1px solid #35A3D3;

}
.opction select {
  color: #5B5B5B;
  padding: 3px 20px;
  border: 1px solid #fff;
  font-weight: bold;
  outline: none!important;
  font-family: 'Roboto', sans-serif!important;
}
.opction select option {
  font-weight: bold;
  outline: none!important;
  font-family: 'Roboto', sans-serif!important;
}


/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* header Righr site menu*/
.manu {
  margin: 10px 0;
  float: right;
}
.manu ul {
  margin: 0;
  padding: 0;

}
.manu ul li {
  list-style: none;
  display: inline-block;
  padding: 0px 15px;
}
.manu ul li a {
  font-size: 14px;
}
.manu ul li i {
  color: #35A3D3;
  font-size: 22px;
}
.manu ul li a {
  text-decoration: none;
  color: #666;
}
.manu ul li a:hover i {
  color: #E15B24;
}
.manu ul li a:hover {
  color: #E15B24;
}



/* ==========================================================================
   SIDE MENU
   ========================================================================== */
   /******************Vertical Menu Ends Here******************************/
.cssmenuvv {
  width: 100%;
}
.cssmenuvv > ul {
 list-style: none;
 margin: 0;
 padding: 0;
 vertical-align: baseline;
 line-height: 1;
}

/* The container */
.cssmenuvv > ul {
 display: block;
 position: relative;
 /* width: 90%; */
 /* The list elements which contain the links */
}
.cssmenuvv > ul li {
 display: block;
 position: relative;
 margin: 0;
 padding: 0;
 width: 100%;
 z-index:1;
}
/* General link styling */
.cssmenuvv > ul li a {
 /* Layout */

 display: block;
 position: relative;
 margin: 0;
 /* border-top: 1px dotted #3a3a3a;
 border-bottom: 1px dotted #1b1b1b; */
 padding: 11px 20px;
 /* Typography */

 font-family: Helvetica, Arial, sans-serif;
 color: #d8d8d8;
 text-decoration: none;
 text-transform: uppercase;
 text-shadow: 0 1px 1px #000;
 font-size: 13px;
 font-weight: 300;
 background-color:#232F3E;
}
/* Rounded corners for the first link of the menu/submenus */
.cssmenuvv > ul li:first-child > a {
 width: 100%;
 /* border-top-left-radius: 4px;
 border-top-right-radius: 4px; */
 border-top: 0;
}
/* Rounded corners for the last link of the menu/submenus */
.cssmenuvv > ul li:last-child > a {
 /* border-bottom-left-radius: 4px;
 border-bottom-right-radius: 4px; */
 border-bottom: 0;
}
/* The hover state of the menu/submenu links */
.cssmenuvv > ul li > a:hover,
.cssmenuvv > ul li:hover > a {
 color: #ffffff;
 text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
 background: #54cdf1;
 background: -webkit-linear-gradient(#72d4f2, #54cdf1);
 background: -moz-linear-gradient(#72d4f2, #54cdf1);
 background: linear-gradient(#72d4f2, #54cdf1);
 border-color: transparent;
}
/* The arrow indicating a submenu */
.cssmenuvv > ul .has-sub > a::after {
 content: '';
 position: absolute;
 top: 16px;
 right: 10px;
 width: 0px;
 height: 0px;
 /* Creating the arrow using borders */

 border: 4px solid transparent;
 border-left: 4px solid #d8d8d8;
}
/* The same arrow, but with a darker color, to create the shadow effect */
.cssmenuvv > ul .has-sub > a::before {
 content: '';
 position: absolute;
 top: 17px;
 right: 10px;
 width: 0%;
 height: 0%;
 /* Creating the arrow using borders */

 border: 4px solid transparent;
 border-left: 4px solid #000;
}
/* Changing the color of the arrow on hover */
.cssmenuvv > ul li > a:hover::after,
.cssmenuvv > ul li:hover > a::after {
 border-left: 4px solid #ffffff;
}
.cssmenuvv > ul li > a:hover::before,
.cssmenuvv > ul li:hover > a::before {
 border-left: 4px solid rgba(0, 0, 0, 0.3);
}
/* THE SUBMENUS */
.cssmenuvv > ul ul {
 position: absolute;
 left: 100%;
 top: -9999px;
 padding-left: 5px;
 opacity: 0;
 width: 100%;
 /* The fade effect, created using an opacity transition */

 -webkit-transition: opacity 0.3s ease-in;
 -moz-transition: opacity 0.3s ease-in;
 transition: opacity 0.3s ease-in;
}
/* Showing the submenu when the user is hovering the parent link */
.cssmenuvv > ul li:hover > ul {
 top: 0px;
 opacity: 1;
}
@media only screen and (max-width:980px) {

.cssmenuvv {
  width: 50%;
  margin-top: 88px;
}
.cssmenuvv > ul li  {
  width: 78%;
}
}
/* .cssmenuvv > ul ul {
  width: 80%;
}
.cssmenuvv {
  width: 70%;
} */
}
/* ==========================================================================
   WRAPPER IMAGES
   ========================================================================== */
.wp-img {
  margin-top: 10px;
  /* border: 1px solid #35A3D3; */
}
.wp-img img {
  width: 100%;
  height: 430px;
  transition: .4s;
}
.wp-img img:hover {
  transform: scale(.9);
}
/* ==========================================================================
  SERVICES
   ========================================================================== */
.services {
  background-color:#F5F5F5;
}
.panel {
	margin: 0 auto;
	height: 130px;
	position: relative;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
}
.panel .front,
.panel .back {
	text-align: center;
}
.panel .front {
	height: inherit;
	position: absolute;
  width: 100%;
	top: 0;
	z-index: 900;
	text-align: center;
	-webkit-transform: rotateX(0deg) rotateY(0deg);
	   -moz-transform: rotateX(0deg) rotateY(0deg);
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
}

.panel .back {
	height: inherit;
	position: absolute;
	top: 0;
  width: 100%;
	z-index: 1000;
	-webkit-transform: rotateY(-180deg);
	   -moz-transform: rotateY(-180deg);
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
}

.panel.flip .front {
	z-index: 900;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}
.panel.flip .back {
	z-index: 1000;
	-webkit-transform: rotateX(0deg) rotateY(0deg);
	-moz-transform: rotateX(0deg) rotateY(0deg);
}
.box1{
	background-color: #14bcc8;
	width: 100%;
	margin: 0 auto;
	padding: 20px;
	/* border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px; */
}
.box2{
	background-color: #ff7e70;
	width:  100%;
	margin: 0 auto;
	padding: 20px;
	/* border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px; */
}


/* ==========================================================================
  PRODUCT
========================================================================== */
.product-brand a {
  color: #000;
  font-size: 12px;
  text-decoration: none!important;
}
.product-brand a:hover {
  color: #FF6536;
}
.product-title a {
  color: #000;
  text-decoration: none!important;
  font-weight: bold;
}
.product-title a:hover {
  color: #FF6536;
}
.love a i {
  color: #FF6536;
  font-size: 28px;
}
.title-box h2 {
  color: #fff;

}
.title-box {
  margin-top: 20px;
  background-color: #35A3D3;
  width: 180px;
  padding: 0px 10px;
  display: flex;
  height: 40px;
}
.title-box::after {
  content: '';
  border-top: 40px solid #35A3D3;
  border-right: 50px solid transparent;
  position: absolute;
  display: flex;
  margin-top: 0px;
  margin-left: 170px;
  height: 130px;
}
#columns {
 	-moz-column-gap: 5px;
 	-webkit-column-gap: 5px;
 	column-gap: 5px;
  width: 90%;
 	max-width: 1100px;
 	margin: 10px auto;
 }
 div#columns figure {
 	background: #fefefe;
 	border: 2px solid #fcfcfc;
 	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
 	margin: 0 2px 15px;
 	padding: 15px;
 	padding-bottom: 10px;
 	transition: all .7s ease-in-out;
  display: inline-block;
  column-break-inside: avoid;
 }

 div#columns figure img {
 	width: 100%; height: auto;
 	border-bottom: 1px solid #ccc;
 	padding-bottom: 15px;
 	margin-bottom: 5px;
 }

 div#columns figure figcaption {
   font-size: .9rem;
 	 color: #444;
   line-height: 1.5;
 }
 div#columns small {
   font-size: 1rem;
   float: right;
   text-transform: uppercase;
   color: #aaa;
 }
 div#columns small a {
   color: #666;
   text-decoration: none;
   transition: .4s color;
 }
 div#columns figure:hover{
   padding: 5px;
 }
 a.button{
   padding:5px;
   background:salmon;
   margin:10px;
   display:block;
   text-align:center;
   color:#fff;
   transition:all 1s linear;
   text-decoration:none;
   text-shadow:1px 1px 3px rgba(0,0,0,0.3);
   border-radius:3px;
   border-bottom:3px solid #ff6536;
   box-shadow:1px 1px 3px rgba(0,0,0,0.3);
 }
 a.button:hover{
   background:#ff6536;
   border-bottom:3px solid salmon;
   color:#f1f2f3;
 }
 @media screen and (max-width: 750px) {
   #columns { column-gap: 0px; }
   #columns figure { width: 100%; }
 }
/* ==========================================================================
  scrollTop
   ========================================================================== */
#button {
 display: inline-block;
 background-color: #35A3D3;
 width: 50px;
 height: 50px;
 text-align: center;
 border-radius: 4px;
 position: fixed;
 bottom: 30px;
 right: 30px;
 transition: background-color .3s,
 opacity .5s,
 visibility .5s;
 opacity: 0;
 visibility: hidden;
 z-index: 1000;
}
#button::after {
 content: "";
 font-family: FontAwesome;
 font-weight: normal;
 font-style: normal;
 font-size: 2em;
 line-height: 50px;
 color: #fff;
}
#button:hover {
 cursor: pointer;
 background-color: #FF7E70;
}
#button:active {
  background-color: #555;
}
#button.show {
 opacity: 1;
 visibility: visible;
}
/*==========================================================================
   SLIDER
   ==========================================================================*/

.carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.carousel .item {
	min-height: 330px;
  text-align: center;
	overflow: hidden;
}
.carousel .item .img-box {
	height: 160px;
	width: 100%;
	position: relative;
}
.carousel .item img {
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.carousel .item h4 {
	font-size: 18px;
	margin: 10px 0;
}
.carousel .item .btn {
	color: #333;
  border-radius: 0;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  background: none;
  border: 1px solid #ccc;
  padding: 5px 10px;
  margin-top: 5px;
  line-height: 16px;
}
.carousel .item .btn:hover, .carousel .item .btn:focus {
	color: #fff;
	background: #000;
	border-color: #000;
	box-shadow: none;
}
.carousel .item .btn i {
	font-size: 14px;
  font-weight: bold;
  margin-left: 5px;
}
.carousel .thumb-wrapper {
	text-align: center;
}
.carousel .thumb-content {
	padding: 15px;
}
.carousel .carousel-control {
	height: 100px;
  width: 40px;
  background: none;
  margin: auto 0;
  background: rgba(0, 0, 0, 0.2);
}
.carousel .carousel-control i {
    font-size: 30px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -16px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    font-weight: bold;
}
.carousel .item-price {
	font-size: 13px;
	padding: 2px 0;
}
.carousel .item-price strike {
	color: #999;
	margin-right: 5px;
}
.carousel .item-price span {
	color: #86bd57;
	font-size: 110%;
}
.carousel .carousel-control.left i {
	margin-left: -3px;
}
.carousel .carousel-control.left i {
	margin-right: -3px;
}
.carousel .carousel-indicators {
	bottom: -50px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 4px;
	border-radius: 50%;
	border-color: transparent;
}
.carousel-indicators li {
	background: rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {
	background: rgba(0, 0, 0, 0.6);
}
.star-rating li {
	padding: 0;
}
.star-rating i {
	font-size: 14px;
	color: #ffc000;
}

/* ==========================================================================
  LOG IN Page
========================================================================== */
#login-box {
  position: relative;
  margin: 5% auto;
  width: 40%;
  height: 400px;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.left {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;
}

h1 {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 28px;
}

.left input[type="text"],
.left input[type="password"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}

.left input[type="text"]:focus,
.left input[type="password"]:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
  outline: none;
}

.left input[type="submit"] {
  margin-top: 28px;
  width: 120px;
  height: 32px;
  background: #16a085;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}

.left input[type="submit"]:hover,
.left input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.left input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.or {
  position: absolute;
  top: 180px;
  left: 280px;
  width: 40px;
  height: 40px;
  background: #DDD;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  line-height: 40px;
  text-align: center;
}

.right {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;
  /* background: url('https://goo.gl/YbktSj'); */
  background-size: cover;
  background-position: center;
  border-radius: 0 2px 2px 0;
}

.right .loginwith {
  display: block;
  margin-bottom: 40px;
  font-size: 28px;
  color: #FFF;
  text-align: center;
}

button.social-signin {
  margin-bottom: 20px;
  width: 220px;
  height: 36px;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  transition: 0.2s ease;
  cursor: pointer;
}

button.social-signin:hover,
button.social-signin:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signin:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signin.facebook {
  background: #32508E;
}

button.social-signin.twitter {
  background: #55ACEE;
}

button.social-signin.google {
  background: #DD4B39;
}
@media only screen and (max-width:980px) {
  .right {
    padding: 0;
    width: 200px;
  }
.left {
  padding: 10px;
}
.or {
  display: none;
}
button.social-signin {
  width: 175px;
  margin-left: 20px;
}
#login-box {
  width: 100%;
}
.left input[type="text"], .left input[type="password"] {
  width: 160px;
  outline: 0;
}
}
/* ==========================================================================
  START  SINGLE PAGES zoom images
   ========================================================================== */
.single-product {
  margin-top: 20px;
}
#default{

}
.xzoom-thumbs {
  text-align: left!important;
}
.xzoom {
  width: 100%;
}
.product-description {
  border-right: 1px solid #ebebeb;
}
.product-description a {
  color: #e23e1d;
  font-size: 14px;
  text-decoration: none!important;
}
.product-description h2 {
  color: #35A3D3;
  font-weight: bold;
}
.product-description p {
  font-size: 14px;
  color: #666;
  padding: 0px 8px;
}
.product-description ul li {
  color: #666;
  font-size: 14px;
}
.product-description p strong{
  color: #000;
}
.product_meta {
  overflow: hidden;
  color: #232530;
  padding-top: 30px;
  border-top: 1px solid #ebebeb;
  margin-top: 32px;
}

/* ==========================================================================
  START  SINGLE PAGES tab nav
   ========================================================================== */
   .tabs {

   }
   .tabs input[type=radio] {
     display: none;
   }
   .tabs label {
     transition: background 0.4s ease-in-out, height 0.2s linear;
     display: inline-block;
     cursor: pointer;
     color: #000;
     width: 24%;
     height: 3em;

     background: #FCFCFC;
     text-align: center;
     line-height: 3em;
   }
   .tabs label:last-of-type {
     border-bottom: none;
   }
   .tabs label:hover {
     background: #35A3D3;

     color:#ffffff;
   }
   @media screen and (max-width: 1600px) {
   .tabs label {
     width: 15%; }
   }
   @media screen and (max-width: 900px) {
   .tabs label {
     width: 20%;
     }
   }
   @media screen and (max-width: 600px) {
   .tabs label {
     width: 100%;
     display: block;
     border-bottom: 1px solid #C7C6C4;
     border-radius: 0;
   }
   }
   @media screen and (max-width: 600px) {
   .tabs {
     margin: 0;
   }
   }

#tab1:checked + label, #tab2:checked + label, #tab3:checked + label, #tab4:checked + label {
 background: #35A3D3;
 color: #FFFFFF; }

.tab-content {
 position: absolute;
 top: -9999px;
 padding: 10px;
}

.tab-content-wrapper{
 background: #FCFCFC;
 border-top: #35A3D3 1px solid;
 border-bottom-right-radius: 3px;
 border-bottom-left-radius: 3px;
 border-top-right-radius: 3px;

}
@media screen and (max-width: 600px) {
.tab-content-wrapper, .tab1-content-wrapper {
 border: none;
 border-radius: 0;
}
}

#tab1:checked ~ .tab-content-wrapper #tab-content-1, #tab2:checked ~ .tab-content-wrapper #tab-content-2, #tab3:checked ~ .tab-content-wrapper #tab-content-3, #tab4:checked ~ .tab-content-wrapper #tab-content-4 {
   position: relative;
   top: 0px;
  }
.tabs-list-description {
  padding: 40px;

}
.tabs-list-description p {
  font-size: 22px;
}
.price h3 {
  font-weight: bold;
  color: #35A3D3;
}
.price-btn a {
  text-decoration: none!important;
  color: #35A3D3;
  border: 2px solid #35A3D3;
  padding: 10px 80px;
  border-radius: 20px;
  transition: .5s;
}
.price-btn a:hover {
  color: #fff;
  background-color: #000;
  border: none;
}
.input-number-decrement {
  padding: 9px 10px;
  background-color: #35A3D3;
}
.input-number-decrement a {
  color: #000;
  text-decoration: none!important;
}
.input-number-increment {
  padding: 9px 10px;
  background-color: #35A3D3;
}
.input-number-increment a {
  color: #000;
  text-decoration: none!important;
}
.input-number {
  width: 20%;
  font-weight: 600;
  font-size: 14px;
  height: 40px;
  border: 1px solid #ebebeb;
  padding: 5px 20px;
  text-align: left;
  color: #191919;
  outline: none;
}
/*==========================================================================
  Category PAGES Start
========================================================================== */
.category-area {
  margin-top: 50px;
}
.category h2 {
  font-size: 24px;
  font-weight: bold;
}
.category-border {
  width: 20%;
  height: 3px;
  background-color: #35A3D3;
}
.center {
  margin:10px 20px;
}
.center input[type="checkbox"] {
  position: relative;
  top: 0;
  width: 15px;
  height: 15px;
  -webkit-appearance:none;
  outline: none;
  transition: .5s;
}
.center input[type="checkbox"]:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid #35A3D3;
  box-sizing: border-box;
  transition: .5s;
}
.center input:checked[type="checkbox"]::before {
  border-left: none;
  border-top: none;
  width: 7px;
  border-color: #0f0f;
  transform: rotate(45deg) translate(5px, -10px);
}
.center label {
  font-size: 16px;
}
.center label a {
  text-decoration: none;
}
.center span {
  color: #35A3D3;
}
/*==========================================================================
   START A CHECK OUT PAGES
========================================================================== */
.form-control:focus {
  border-color: #FF0000!important;
  border: 1px solid #000;
  outline: 0;
  box-shadow: none!important;
}
.form-control {
  border-radius: 0px!important;
  background-clip:none!important;
}
.check-name {
  color: #4C4C4C;
  font-size: 18px;
  font-weight: bold;
}
.check-name span {
  color: #FF0000;
}
.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.checkout-btn button {
  /* width: 30%; */
  text-decoration: none!important;
  color: #35A3D3;
  border: 2px solid #35A3D3;
  padding: 8px 20px;
  border-radius: 20px;
  transition: .5s;
  background: transparent;
}
.checkout-btn button:hover {
  color: #fff;
  background-color: #000;
  border: 2px solid #35A3D3;
}
.card-header p {
  text-decoration: none;
  color: #000;
  display: block;
}
.card-header  {
  padding: 0!important;
}
.accordion-btn a {
  color: #000;
  text-decoration: none;
  display: block;
}
.accordion-btn a:hover,.accordion-btn a:focus {
  color: #000;
  text-decoration: none;
}


.Yorder{
  margin-top: 15px;
  padding: 20px;
  border: 1px solid #dadada;
}
.Yorder table{
  margin: 0;
  padding: 0;
}
.Yorder table th{
  border-bottom: 1px solid #dadada;
  padding: 10px 0;
}
.Yorder tr>td:nth-child(1){
  text-align: left;
  color: #2d2d2a;
}
.Yorder tr>td:nth-child(2){
  text-align: right;
  color: #52ad9c;
}
.Yorder td{
  border-bottom: 1px solid #dadada;
  padding: 25px 25px 25px 0;
}

.Yorder p{
  display: block;
  color: #888;
  margin: 0;
  padding-left: 25px;
}


/* .Yorder button{
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 30px;
  background: #52ad9c;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
} */
/* .Yorder button:hover{
  cursor: pointer;
  background: #428a7d;
} */
.checkout-menu {

}
.checkout-menu ul {
  margin: 0;
  padding: 0;
}
.checkout-menu ul li {
  list-style: none;
  display: inline-block;
}
.checkout-menu ul li a {
  color: #595959;
  text-decoration: none;
}
/*==========================================================================
   ABOUT US PAGES
========================================================================== */
.about-us {
  background-image: url(../images/aboutus.PNG);
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
}
.what-we-do {
  background-image: url(../images/about-primo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  position: relative;
  background-attachment: fixed;
  z-index: 999;
}
.what-we-do-overley {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);

}
.what-we h1 {
  font-weight: bold;
}
.what-we h1 span {
  color: #FD7F2B;
}
.what-we h4 span {
  color: #FD7F2B;
}
.story {
  font-size: 18px;
  font-family: 'Roboto', sans-serif!important;

}
.story p {
  color: #737373;
}
@media (max-width:767px) {
  .story p {
    font-size: 14px;
    margin-bottom: 10px;
  }
}

/*==========================================================================
   START Shpping-setting Page
========================================================================== */
.shaping h1 {
  margin-top: 20px;
}
/* Global Button Styles */
   a.animated-button:link, a.animated-button:visited {
   	position: relative;
   	display: block;
   	margin: 30px auto 0;
   	padding: 14px 15px;
   	color: #000;
   	font-size:14px;
   	font-weight: bold;
   	text-align: center;
   	text-decoration: none;
   	text-transform: uppercase;
   	overflow: hidden;
   	letter-spacing: .08em;
   	border-radius: 0;
   	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
   	-webkit-transition: all 1s ease;
   	-moz-transition: all 1s ease;
   	-o-transition: all 1s ease;
   	transition: all 1s ease;
   }
   a.animated-button:link:after, a.animated-button:visited:after {
   	content: "";
   	position: absolute;
   	height: 0%;
   	left: 50%;
   	top: 50%;
   	width: 150%;
   	z-index: -1;
   	-webkit-transition: all 0.75s ease 0s;
   	-moz-transition: all 0.75s ease 0s;
   	-o-transition: all 0.75s ease 0s;
   	transition: all 0.75s ease 0s;
   }
   a.animated-button:link:hover, a.animated-button:visited:hover {
   	color: #fff;
   	text-shadow: none;
   }
   a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
   	height: 450%;
   }
   a.animated-button:link, a.animated-button:visited {
   	position: relative;
   	display: block;
   	margin: 30px auto 0;
   	padding: 14px 15px;
   	color: #000;
   	font-size:14px;
   	border-radius: 0;
   	font-weight: bold;
   	text-align: center;
   	text-decoration: none;
   	text-transform: uppercase;
   	overflow: hidden;
   	letter-spacing: .08em;
   	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
   	-webkit-transition: all 1s ease;
   	-moz-transition: all 1s ease;
   	-o-transition: all 1s ease;
   	transition: all 1s ease;
   }

/* Victoria Buttons */

a.animated-button.victoria-one {
	border: 2px solid #FD7F2B;
}
a.animated-button.victoria-one:after {
	background: #FD7F2B;
	-moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	transform: translateX(-50%) translateY(-50%) rotate(-25deg);
}
a.animated-button.victoria-two {
	border: 2px solid #FD7F2B;
}
a.animated-button.victoria-two:after {
	background: #FD7F2B;
	-moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
	transform: translateX(-50%) translateY(-50%) rotate(25deg);
}
a.animated-button.victoria-three {
	border: 2px solid #FD7F2B;
}
a.animated-button.victoria-three:after {
	background: #FD7F2B;
	opacity: .5;
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
a.animated-button.victoria-three:hover:after {
	height: 140%;
	opacity: 1;
}
a.animated-button.victoria-four {
	border: 2px solid #FD7F2B;
}
a.animated-button.victoria-four:after {
	background: #FD7F2B;
	opacity: .5;
	-moz-transform: translateY(-50%) translateX(-50%) rotate(90deg);
	-ms-transform: translateY(-50%) translateX(-50%) rotate(90deg);
	-webkit-transform: translateY(-50%) translateX(-50%) rotate(90deg);
	transform: translateY(-50%) translateX(-50%) rotate(90deg);
}
a.animated-button.victoria-four:hover:after {
	opacity: 1;
	height: 600% !important;
}
.reshiping {
  margin-top: 40px;
  border: 1px solid #FD7F2B;
  padding: 20px;
}
/*==========================================================================
   INSIDE SHAPPING PAGE
========================================================================== */
.inside-form {
  padding: 20px;
  border: 1px solid #dadada;
}
.inside-table {
  padding: 20px;
  border: 1px solid #dadada;
  height: 100vh;
}
/* ==========================================================================
  Contact US
   ========================================================================== */
.contact-left {
  border: 1px solid #dadada;
  padding: 10px;
}
/* ==========================================================================
   Reshiping page
   ========================================================================== */
.story span {
  color: #FD7F2B;
}
.total-cost {
  background-color: #F2F2F2;
}
/*==========================================================================
   MY CART
========================================================================== */
.my-cart {
  background-color: #F1F2F4;
}
.mycart-img img {
  width: 100%;
}

.mycart-increment {
  padding: 9px 10px;
  background-color: #35A3D3;
}
.mycart-decrement {
  padding: 9px 10px;
  background-color: #35A3D3;
}
.mycart-decrement a {
  color: #000;
  text-decoration: none!important;
}
/*==========================================================================
   USER PANEL
========================================================================== */
/*==========================================================================
   SHOPPING CHARGE
========================================================================== */
.info-box {
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  /* border-top: 20px solid #ff558f; */
  transition: .5s;
}
.info-box:hover {
  box-shadow: 0 30px 50px rgba(0,0,0,.2);
}
.info-box h3 {
  margin: 0;
  padding: 0 0 10PX;
  border-bottom: 2px solid #ff5585;
}
.info-box p {
  font-size: 18px;

}
.info-box p span {
  color: #ff5585;
  margin-left: 100px;
  border-bottom: 1px solid #ff5585;
  text-align: left;
}
/*==========================================================================
   FOOTER
========================================================================== */
.site-footer {
 background-color:#26272b;
 padding:45px 0 20px;
 font-size:15px;
 line-height:24px;
 color:#737373;
}
.site-footer hr {
 border-top-color:#bbb;
 opacity:0.5;
}
.site-footer hr.small {
 margin:20px 0;
}
.site-footer h6 {
 color:#fff;
 font-size:16px;
 text-transform:uppercase;
 margin-top:5px;
 letter-spacing:2px
}
.site-footer a {
 color:#737373;
}
.footer-links {
 padding-left:0;
 list-style:none;
}
.footer-links li {
 display:block;
}
.footer-links a {
 color:#737373;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover {
 color:#FD7F2B;
 text-decoration:none;
}
.footer-links.inline li {
 display:inline-block;
}
.site-footer .social-icons {
 text-align:right;
}
.site-footer .social-icons a {
 width:40px;
 height:40px;
 line-height:40px;
 margin-left:6px;
 margin-right:0;
 border-radius:100%;
 background-color:#33353d
}
.copyright-text {
 margin:0;
}
@media (max-width:991px) {
 .site-footer [class^=col-]
 {
   margin-bottom:30px;
 }
}
@media (max-width:767px) {
 .site-footer {
   padding-bottom:0;
   text-align: center;
 }
 .site-footer .copyright-text,.site-footer .social-icons {
   text-align:center;
 }
}
.social-icons {
 padding-left:0;
 margin-bottom:0;
 list-style:none;
}
.social-icons li {
 display:inline-block;
 margin-bottom:4px;
}
.social-icons li.title
{
 margin-right:15px;
 text-transform:uppercase;
 color:#96a2b2;
 font-weight:700;
 font-size:13px;
}
@media (max-width:767px) {
 .social-icons li.title {
   display:block;
   margin-right:0;
   font-weight:600;
 }
}
.subscribe {
  width: 65%!important;
  margin: 0 auto;
}

.subscribe-btn button {
  width: 100%;
  text-decoration: none!important;
  color: #35A3D3;
  border: 2px solid #35A3D3;
  padding: 6px 20px;
  /* border-radius: 20px; */
  transition: .5s;
  background: transparent;
}
.subscribe-btn button:hover {
  color: #000;
  background-color: #fff;
  border: 2px solid #35A3D3;
}
/* ==========================================================================
   reshipping USER
   ========================================================================== */

.reshiping-btn {
  background-color: #FD7F2B!important;
  border-color: #fff!important;
  width: 70%;
  border-radius: none!important;
}
.btn-primary.focus, .btn-primary:focus {
  box-shadow:none!important;
}
.box-list {
  text-align: center;
}
.box-list select{
  width: 100%;
  background: #F2F2F2;
  padding: 4px;
}
.cart {
  padding: 20px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
