#sidebar-menu>ul>li>a:active, #sidebar-menu>ul>li>a:focus, #sidebar-menu>ul>li>a:hover {
    color: #F91942;
}
.nav-second-level li a:focus, .nav-second-level li a:hover, .nav-thrid-level li a:focus, .nav-thrid-level li a:hover {
    color: #F91942;
}

#sidebar-menu>ul>li>a.active {
	color: #F91942;
}

.nav-second-level li.active>a, .nav-third-level li.active>a {
    color: #F91942;
}